main{
    background-color: #e8e8e8;
    padding: 1em 1em 1em 1em;
}

.week-panels-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.week-panel {
    display:flex;
    flex-direction: column;
    width:45%;
    padding: 2em 4em;
    align-items: center;
    margin: 1em;
    border: 1px solid black;
}