main{
    background-color: #e8e8e8;
    padding-bottom:100px;
}

.week-panels-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.week-panel {
    display:flex;
    flex-direction: column;
    width:30em;
    padding: 2em 4em;
    align-items: center;
    margin: 1em;
    border: 1px solid black;
    text-align: center;
    height: 300px;
    justify-content: center;
    transition: 0.5s;
}

.week-panel:hover {
    background-color: rgba(183, 191, 188, 0.5);
}

.home-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    justify-content: flex-start;
    padding-top: 15vh;
}

.home-banner h1 {
    font-size: 9rem;
    font-weight: 900;
}

.home-banner h3 {
    font-size: 5rem;
}

.inverse {
    flex-direction: column-reverse;
}

footer {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 100%;
}

a:link, a:visited, a:hover, a:enabled {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 850px) {
    .home-banner {
        height: auto;
        padding-top: 10vh;
        padding-bottom: 10vh;
        padding-left: 10px;
    }

    .home-banner h1 {
        font-size: 2.9rem;
        font-weight: 900;
    }

    .home-banner h3 {
        font-size: 2rem;
    }

    .week-panel {
        width: 90vw;
        padding: 10px;
    }

}