img {
    image-orientation: from-image;
}


.gallery-group {
    width: 90%;
    margin: 0 auto;
}

.gallery-group h1 {
    font-size: 3.5rem;
    font-weight: 900;
}

.gallery-group > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.gallery-item {
    max-width: 20rem;
    margin: 15px;
}

.with-video {
    margin: 0 auto;
}

.gallery-item video {
    margin: 15px;
}
